In [3]:
import pandas as pd 
import numpy as np

data = pd.read_csv("NM_similarities.csv")
data.head()

,Unnamed: 0,Text,Spacy,WUP,Metaphor
0,0,My eyes are an ocean of blue.,0.313175,0.153846,Y
1,1,Today is a prison and I am the inmate.,0.246212,0.117647,Y
2,2,The snow is a white blanket.,0.377456,0.210526,Y
3,3,Her long hair was a flowing golden river.,0.165116,0.285714,Y
4,4,Tom's eyes were ice as he stared at her.,0.255723,0.142857,Y

In [12]:
sp_y = data[data["Metaphor"]=="Y"]['Spacy']
sp_n = data[data["Metaphor"]=="N"]['Spacy']
wp_y = data[data["Metaphor"]=="Y"]['WUP']
wp_y = wp_y.dropna()
wp_n = data[data["Metaphor"]=="N"]['WUP']
wp_n = wp_n.dropna()

In [13]:
print("Average Spacy Score for Metaphors =", sum(sp_y)/len(sp_y))
print("Average Spacy Score for Non-Metaphors =", sum(sp_n)/len(sp_n))
print("Average Wu-Palmer Score for Metaphors =", sum(wp_y)/len(wp_y))
print("Average Wu-Palmer Score for Non-Metaphors =", sum(wp_n)/len(wp_n))

Average Spacy Score for Metaphors = 0.26359608351282054
Average Spacy Score for Non-Metaphors = 0.40065913984999996
Average Wu-Palmer Score for Metaphors = 0.23431791441176472
Average Wu-Palmer Score for Non-Metaphors = 0.250595238

Major issue with Wu-Palmer - synsets may not exist for every word (could turn out to be an issue with Spacy also)